/* body {
  background-color: red;
} */

.board {
  margin: auto;
  display: grid;
  gap: 1rem;
  background-color: lightseagreen;
  width: 1180px;
  height: 820px;
  grid-template-columns: 1.7fr 5fr 1.5fr 0.8fr;
  grid-template-rows: 1fr 3fr 2fr;
}

.opponent-board {
  background-color: lightblue;
  grid-column: 1 / 4;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
  grid-template-rows: 1fr 2fr;
}
.menu-board {
  background-color: lightcoral;
  grid-column: 4;
}

.bowl-board {
  background-color: lightskyblue;
  grid-row: 2 / 3;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr 1fr;
}

.card-board {
  /* background-color: lightgreen; */
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr 1fr;
}

.token-board {
  background-color: lightgoldenrodyellow;
  display: grid;
  gap: 1rem;
  place-items: center;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
}

.player-board {
  background-color: lightblue;
  grid-row: 3;
  grid-column: 1/4;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
  grid-template-rows: 1fr 3fr;
}

.confirm-board {
  background-color: lightskyblue;
  grid-row: 3;
  grid-column: 4;
  display: grid;

  grid-template-columns: 1fr;
  place-items: center;
}

.player-name {
  grid-column: 5;
}

.token-card-board {
  grid-column: 2 / 8;
  background-color: lightcyan;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
}
.reserved-cards {
  grid-column: 8/10;
  background-color: lightpink;
}

.player-points {
  grid-column: 8/10;
}

.token-card {
  border: 1px solid burlywood;
  display: flex;

  justify-content: center;
  align-items: center;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.token-icon {
}

.board-title {
  font-size: 1.5rem;
  font-weight: 700;
}
