.token-container {
  /* border: 2px solid black; */
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.value {
  font-size: 2rem;
}

.token {
  border: 2px solid rgb(0, 0, 0);
  width: 60px;
  height: 40px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.token:hover {
  filter: brightness(70%);
  cursor: pointer;
}

.Green {
  background-color: #40c057;
}
.White {
  background-color: #ffffff;
}

.Blue {
  background-color: #228be6;
}

.Black {
  background-color: #000000;
}
.Black:hover {
  background-color: #414141;
}

.Red {
  background-color: #c92a2a;
}

.Gold {
  background-color: #fab005;
}
