.card {
  display: flex;
  flex-direction: column;
}
.points {
  margin-bottom: 0;
  background-color: #fed4a7;
  width: 35px;
  height: 35px;
  border-radius: 25%;
  align-self: flex-end;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.hidden-point {
  color: whitesmoke;
  background-color: whitesmoke;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}
.card-main {
  font-size: 0.9rem;
  display: flex;
  align-self: start;
  flex-direction: column;
  justify-content: end;
  height: 60px;
}
.label-container {
  margin-bottom: 0.1rem;
}

.score {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
}

.card-Green {
  background-color: #40c057;
  color: white;
}
.card-White {
  background-color: #ffffff;
}
.card-Blue {
  background-color: #228be6;
  color: white;
}

.card-Black {
  background-color: #000000;
  color: white;
}
.card-Red {
  background-color: #c92a2a;
  color: white;
}

.label-hidden {
  display: none;
}
.card-label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
