.row-container {
  /* border: 2px solid blue; */
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.card {
  width: 80px;
  height: 100px;
  border: 2px solid black;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  padding: 1rem;
}
.card:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.facedown {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.L1 {
  background-color: #40c057;
}

.L2 {
  background-color: #fab005;
}

.L3 {
  background-color: #228be6;
}
