.gamend-box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightseagreen;
  width: 1180px;
  height: 850px;
  /* background-color: #c5d7cb; */
  /* border: 2px solid red; */
}
/* .player-signin {
  border: 2px solid blue;
} */

.row {
  margin-block: 2rem;
}

.label {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.input {
  border: none;
  height: 1.5rem;
  border-bottom: 1px solid black;
  border-radius: 8px;
  padding: 0.5rem 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.start-btn {
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 500;
  padding: 0.5rem 2rem;
  text-align: center;
  background-color: #fcedda;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.start-btn:hover {
  filter: brightness(90%);
}

.error-msg {
  color: #c92a2a;
  font-size: 1.5rem;
}
