body {
  background-color: white;
}

.box-container {
  width: 1180px;
  height: 850px;
  display: flex;
  justify-content: center;
}

.player1background {
  background-color: #b8dfde;
}
.player2background {
  background-color: #f2d1cc;
}

.start-btn {
  border-radius: 8px;
  font-size: 1rem;
  padding: 0.5rem 3rem;
  text-align: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
