body {
  background-color: white;
}

.box-container {
  width: 1180px;
  height: 850px;
  display: flex;
  justify-content: center;
}

.player1background {
  background-color: #b8dfde;
}
.player2background {
  background-color: #f2d1cc;
}
