.card-container {
  width: 100px;
  height: 100px;
  background-color: #fdd614;
  border-radius: 10px;
  border: 2px solid black;
  margin: auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.card-container:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.bowl-card-header {
  /* border: 2px solid red; */
  /* margin-bottom: 0.5rem; */
}

.hidden {
  display: none;
}

.points {
  font-size: 2rem;
  text-align: center;
  align-self: flex-end;
}

.bowl-card-main {
  align-self: self-end;
  margin-top: -0.1rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  /* border: 2px solid red; */
}
.bowl-label-container {
  /* margin-bottom: 0.1rem; */
  display: flex;
  flex-direction: row;
}
.green,
.white,
.blue,
.black,
.red {
  display: flex;

  /* border: 2px solid red; */
}

.bowl-label {
  width: 20px;
  height: 20px;
  border-radius: 25%;
  border: 1px solid black;
}

.icon-containter {
  margin-left: 0.5rem;
}
